<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.ApiSecretKeysMapper">

	<select id="findByClientId" parameterType="string" resultType="com.example.entity.ApiSecretKeys">
        SELECT 
        	*
        FROM api_secret_keys 
        WHERE client_id = #{clientId}
    </select>
    
	<select id="totalCount" parameterType="string" resultType="int">
        SELECT
        	count(*)
		FROM api_secret_keys
		WHERE client_id = #{clientId}
		AND client_secret = #{clientSecret}
    </select>

    <update id="updateRefreshToken" parameterType="java.util.Map">
        UPDATE api_secret_keys SET 
        	updated_at = now()
        	, refresh_token = #{refreshToken}
        WHERE client_id = #{clientId}
    </update>
    
</mapper>