<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.UserMapper">

	<select id="findByUserId" parameterType="string" resultType="com.example.entity.User">
        SELECT 
        	id
        	, user_id
        	, password
        	, user_name
        	, refresh_token
        FROM users 
        WHERE user_id = #{userId}
    </select>

	<insert id="insertUser" parameterType="com.example.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users(user_id, password, user_name, created_at) VALUES(#{userId}, #{password}, #{userName}, now())
    </insert>

    <update id="updateRefreshToken">
        UPDATE users SET 
        	updated_at = now()
        	, refresh_token = #{refreshToken}
        WHERE user_id = #{userId}
    </update>
    
	<insert id="insertUsers">
	    INSERT INTO users (user_id, password, user_name, created_at)
	    VALUES
	    <foreach collection="users" item="user" separator=",">
	        (#{user.userId}, #{user.password}, #{user.userName}, now())
	    </foreach>
	</insert>
	
    <update id="updateUser" parameterType="com.example.entity.User">
        UPDATE users SET
        	updated_at = now()
        	<if test="userName != null and userName != ''">
        		, user_name = #{userName}
        	</if>
        	<if test="password != null and password != ''">
            	, password = #{password}
        	</if>
        	<if test="useYn != null and useYn != ''">
            	, use_yn = #{useYn}
        	</if>
        WHERE user_id = #{userId}
    </update>
    
	<delete id="deleteUser" parameterType="com.example.entity.User">
        DELETE FROM users 
        WHERE user_id = #{userId}
    </delete>

</mapper>